{% extends 'base.html' %}
{% load static i18n bootstrap4 %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block content %}
<div class="row justify-content-center text-center"><div class="col-md-8">
<h3 class="py-4">{% translate 'Log in' %}</h3>

<p>
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

		{% bootstrap_form form show_label=False %}
{% if form.errors %}
		<div class="alert alert-warning alert-dismissible"><button class="close" type="button" data-dismiss="alert" aria-label="close">×</button>
		Veuillez également noter que pour pouvoir vous connecter, vous devez <strong>d'abord valider votre email</strong> en cliquant sur le lien disponible dans l'email qui vous à été envoyé lors de votre inscription. Si vous ne le trouvez pas, vérifiez dans les <em>spams</em> ou utilisez le <a href="{% url 'password_reset' %}" class="alert-link">lien de réinitialisation de mot de passe</a>.
		</div>
{% endif %}
		<p class="text-left"><a href="{% url 'password_reset' %}">{% translate 'Reset my password' %}</a></p>
		<button class="btn btn-lg btn-primary btn-block" type="submit">{% translate 'Log in' %}</button>
	</form>
</p>
<p>
	<a class="btn btn-lg btn-success btn-block" href="{% url 'register' %}">{% translate 'Sign up' %}</a>
</p>
</div>
</div>
{% endblock %}

