{% extends 'base.html' %}
{% load static i18n bootstrap4 %}

{% block content %}

<p></p>
<div class="row justify-content-center">

<div class="col-10 text-center">
<h3>Outils pratiques pour la traduction</h3>

<div class="col-md-8 text-justify">
	<p>Page à compléter....</p>

	<p>La liste suivante est juste pour le dévelopement et permet de changer le thème graphique du site.</p>
	<ul>
		<li><a href="{% url 'theme' 'bootstrap-lumen.min.css' %}">Lumen</a></li>
		<li><a href="{% url 'theme' 'bootstrap.min.css' %}">Basic</a></li>
		<li><a href="{% url 'theme' 'bootstrap-cerulean.min.css' %}">Cerulean</a></li>
		<li><a href="{% url 'theme' 'bootstrap-darkly.min.css' %}">Darkly</a></li>
		<li><a href="{% url 'theme' 'bootstrap-litera.min.css' %}">Litera</a></li>
		<li><a href="{% url 'theme' 'bootstrap-materia.min.css' %}">Materia</a></li>
		<li><a href="{% url 'theme' 'bootstrap-sandstone.min.css' %}">Sandstone</a></li>
		<li><a href="{% url 'theme' 'bootstrap-slate.min.css' %}">Slate</a></li>
		<li><a href="{% url 'theme' 'bootstrap-superhero.min.css' %}">Superhero</a></li>
		<li><a href="{% url 'theme' 'bootstrap-cosmo.min.css' %}">Cosmo</a></li>
		<li><a href="{% url 'theme' 'bootstrap-flatly.min.css' %}">Flatly</a></li>
		<li><a href="{% url 'theme' 'bootstrap-minty.min.css' %}">Minty</a></li>
		<li><a href="{% url 'theme' 'bootstrap-simplex.min.css' %}">Simplex</a></li>
		<li><a href="{% url 'theme' 'bootstrap-solar.min.css' %}">Solar</a></li>
		<li><a href="{% url 'theme' 'bootstrap-united.min.css' %}">United</a></li>
		<li><a href="{% url 'theme' 'bootstrap-cyborg.min.css' %}">Cyborg</a></li>
		<li><a href="{% url 'theme' 'bootstrap-journal.min.css' %}">Journal</a></li>
		<li><a href="{% url 'theme' 'bootstrap-lux.min.css' %}">Lux</a></li>
		<li><a href="{% url 'theme' 'bootstrap-pulse.min.css' %}">Pulse</a></li>
		<li><a href="{% url 'theme' 'bootstrap-sketchy.min.css' %}">Sketchy</a></li>
		<li><a href="{% url 'theme' 'bootstrap-spacelab.min.css' %}">Spacelab</a></li>
		<li><a href="{% url 'theme' 'bootstrap-yeti.min.css' %}">Yeti</a></li>
	</ul>
</div>

</div>
{% endblock %}

